@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);


@font-face {
	font-family:'Entypo';
	font-style:normal;
	font-weight:400;
	src: url('../fonts/Entypo/entypo-social.eot');
	src: url('../fonts/Entypo/entypo-social.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Entypo/entypo-social.woff') format('woff'), 
		 url('../fonts/Entypo/entypo-social.ttf') format('truetype'),
		 url('../fonts/Entypo/entypo-social.svg#font/entypo-social') format('svg');
}

@font-face{
	font-family:ProximaNova;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/proxima-nova/ProximaNova-Sbold-webfont.eot);
	src:url(../fonts/proxima-nova/ProximaNova-Sbold-webfont.eot?#iefix) format("embedded-opentype"),
		url(../fonts/proxima-nova/ProximaNova-Sbold-webfont.woff) format("woff"),
		url(../fonts/proxima-nova/ProximaNova-Sbold-webfont.ttf) format("truetype"),
		url(../fonts/proxima-nova/ProximaNova-Sbold-webfont.svg#webfontZWd5BY6k) format("svg")
}



@font-face{
	font-family:'Proxima Nova Regular';
	src:url("../fonts/proxima-nova/proxima-nova-regular.eot");
	src:url("../fonts/proxima-nova/proxima-nova-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/proxima-nova/proxima-nova-regular.woff") format("woff"),
		url("../fonts/proxima-nova/proxima-nova-regular.ttf") format("truetype"),
		url("../fonts/proxima-nova/proxima-nova-regular.svg#ywftsvg") format("svg");
	font-weight:normal;font-style:normal
}
	
@font-face{font-family:'Proxima Nova Regular Italic';
	src:url("../fonts/proxima-nova/proxima-nova-regular-italic.eot");
	src:url("../fonts/proxima-nova/proxima-nova-regular-italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/proxima-nova/proxima-nova-regular-italic.woff") format("woff"),
		url("../fonts/proxima-nova/proxima-nova-regular-italic.ttf") format("truetype"),
		url("../fonts/proxima-nova/proxima-nova-regular-italic.svg#ywftsvg") format("svg");
	font-weight:normal;
	font-style:normal
}

@font-face{
	font-family:'Proxima Nova Bold';
	src:url("../fonts/proxima-nova/proxima-nova-bold.eot");
	src:url("../fonts/proxima-nova/proxima-nova-bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/proxima-nova/proxima-nova-bold.woff") format("woff"),
		url("../fonts/proxima-nova/proxima-nova-bold.ttf") format("truetype"),
		url("../fonts/proxima-nova/proxima-nova-bold.svg#ywftsvg") format("svg");
	font-weight:normal;font-style:normal
}

@font-face{
	font-family:'Proxima Nova Bold Italic';
	src:url("../fonts/proxima-nova/proxima-nova-bold-italic.eot");
	src:url("../fonts/proxima-nova/proxima-nova-bold-italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/proxima-nova/proxima-nova-bold-italic.woff") format("woff"),
		url("../fonts/proxima-nova/proxima-nova-bold-italic.ttf") format("truetype"),
		url("../fonts/proxima-nova/proxima-nova-bold-italic.svg#ywftsvg") format("svg");
	font-weight:normal;
	font-style:normal
}

@font-face{
	font-family:'Proxima Nova Semi-Bold';
	src:url("../fonts/proxima-nova/proxima-nova-semibold.eot");
	src:url("../fonts/proxima-nova/proxima-nova-semibold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/proxima-nova/proxima-nova-semibold.woff") format("woff"),
		url("../fonts/proxima-nova/proxima-nova-semibold.ttf") format("truetype"),
		url("../fonts/proxima-nova/proxima-nova-semibold.svg#ywftsvg") format("svg");
	font-weight:normal;
	font-style:normal
}

@font-face{
	font-family:'Proxima Nova Semi-Bold Italic';
	src:url("../fonts/proxima-nova/proxima-nova-semibold-italic.eot");
	src:url("../fonts/proxima-nova/proxima-nova-semibold-italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/proxima-nova/proxima-nova-semibold-italic.woff") format("woff"),
		url("../fonts/proxima-nova/proxima-nova-semibold-italic.ttf") format("truetype"),
		url("../fonts/proxima-nova/proxima-nova-semibold-italic.svg#ywftsvg") format("svg");
	font-weight:normal;
	font-style:normal
}

@font-face {
    font-family: 'ProximaNovaCondensedLight';
    src: url('../fonts/proxima-nova/proxima_nova_cond_light-webfont.eot');
    src: url('../fonts/proxima-nova/proxima_nova_cond_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova/proxima_nova_cond_light-webfont.woff') format('woff'),
         url('../fonts/proxima-nova/proxima_nova_cond_light-webfont.ttf') format('truetype'),
         url('../fonts/proxima-nova/proxima_nova_cond_light-webfont.svg#ProximaNovaCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
